$background: #F1F5F9;

body {
  padding-top: 6.5rem;
  background-color: $background;
  padding-bottom: 3rem;
  overflow-y: scroll;
}

.navbar {
  background-color: $background;
}

$stripe1: #009688;
$stripe2: #00897B;

.nav2 {
  background: repeating-linear-gradient(
    45deg,
    $stripe1,
    $stripe1 10px,
    $stripe2 10px,
    $stripe2 20px
  );
  height: 33px;
  color: white;
  padding-top: 0.3rem;
  opacity: 0.92;
  background-position-x: 0;
}

.box {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 15px rgba(84,96,103,.25);
  padding: 1rem;
  margin-bottom: 1rem;
}

.box-conv-list {
  @extend .box;
  padding: 1rem 0;
}

table.conv-list {
  margin-bottom: 0;
  td:first-child {
    padding-left: 1rem;
  }
  td:last-child {
    padding-right: 1rem;
  }
  tr {
    cursor: pointer;
  }
}
