@import 'variables';

body {
  padding-top: 7rem;
  background-color: $background;
  padding-bottom: 3rem;
  overflow-y: scroll;
}

.navbar {
  background-color: $background;
}

@mixin stripes($colour1, $lighten) {
  background: repeating-linear-gradient(
    45deg,
    $colour1,
    $colour1 10px,
    lighten($colour1, $lighten) 10px,
    lighten($colour1, $lighten) 20px
  );
}

.nav2 {
  height: 33px;
  color: white;
  .back {
    transition: all 0.5s ease;
    @include stripes(#009688, 3%);
    opacity: 0.92;
    background-position-x: 0;
    height: 100%;
  }
  &.anon .back{
    filter: brightness(70%);
  }
  &.offline .back {
    filter: grayscale(100%) brightness(120%);
  }
  .container {
    position: relative;
    top: -28px;
  }

  &.editing {
    height: 50px;
    .container {
        top: -45px;
    }
  }
  .nav-title-edit {
    max-width: 300px;
    display: inline-block;
  }
  .fa-pencil {
    cursor: pointer;
  }
}

.box {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 15px rgba(84,96,103,.25);
  padding: 1rem;
  margin-bottom: 1rem;
}

.box-conv-list {
  @extend .box;
  padding: 1rem 0;
  a {
    display: block;
    color: $gray-800;
    padding: 0.5rem 1rem;
    border-top: 1px solid $gray-200;
    &:hover {
      text-decoration: none;
      background-color: $gray-100;
    }
    span {
      vertical-align: middle;
      display: inline-block;
    }
    .subject {
      font-size: 1.1rem;
      min-width: 150px;
      margin-right: 0.5rem;
      max-width: 220px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    .body {
      color: #7790a9;
      font-size: 0.9em;
      vertical-align: bottom;
    }

    .icon {
      color: #627384;
      font-size: 0.8em;
      margin-right: 0.6rem;
      .fa {
        margin-right: 0.2rem;
      }
    }
  }
}

table.conv-list {
  margin-bottom: 0;
  td:first-child {
    padding-left: 1rem;
  }
  td:last-child {
    padding-right: 1rem;
  }
  tr {
    cursor: pointer;
  }
}

.login {
  max-width: 400px;
  padding: 1rem;
  margin: 1rem auto 2rem;

  .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
  }
  .form-control:focus {
    z-index: 2;
  }
  input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  button {
    margin-top: 1rem;
  }

  .invalid-feedback {
    display: block;
    visibility: hidden;
    font-size: .8rem;
  }
  .is-invalid ~ .invalid-feedback {
    visibility: visible;
  }
}

.rbt {
  .rbt-token {
    display: block;
    width: 100%;
    margin: 4px 0 6px;
    cursor: default;
  }
  .rbt-close {
    cursor: pointer;
  }
  .invalid {
    color: $danger;
    background-color: lighten($danger, 35%);
    &.rbt-token-active {
      background-color: $danger;
      color: white;
    }
  }
  // use to customise the input cursor
  //.rbt-input-wrapper div:last-child {
  //  width: 100%;
  //  background-color: red;
  //}
}
